body {
  background-image: url("../images/pinetree_background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font: bold;
  font-family: cursive;
  font-size: 3em;
  color: cornflowerblue;
}
div.container#navbar {
  margin: 10px auto;
  width: 35%;
  padding: 35px;
  text-align: center;
  border-radius: 12px;
}
nav a {
  text-decoration: none;
  margin: 25px;
  background-color: blanchedalmond;
  border: 2px solid darkgreen;
  border-radius: 5px;
  padding: 5px;
  color: rgb(15, 58, 15);
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
nav a:hover {
  color: blanchedalmond;
  background-color: rgb(15, 58, 15);
}
img {
  width: 320px;
}
#intro {
  background-color: rgb(15, 58, 15);
  margin: 35px;
  border: 3px dotted blanchedalmond;
  border-radius: 12px;
  padding: 12px;
}
#me {
  float: left;
  border: 5px solid cornflowerblue;
  margin-left: 235px;
  display: block;
}
#mylittlefamily {
  float: right;
  border: 5px solid cornflowerblue;
  margin-right: 235px;
  display: block;
}
#aboutme,
ul {
  color: ivory;
  text-align: justify;
  font-size: 1.3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  text-align: center;
  color: cornflowerblue;
  font-size: xx-large;
}
#h3heading {
  color: cornflowerblue;
  text-align: center;
  font-size: x-large;
}
#doodles1 {
  background-color: rgb(15, 58, 15);
  border: 3px dotted blanchedalmond;
  color: blanchedalmond;
  text-align: left;
  float: left;
  width: 23%;
  padding: 10px;
}
h3#doodles,
h3#paintings,
h3#drawings {
  text-align: center;
  color: blanchedalmond;
}
h3#doodles {
  margin-top: auto;
}
#doodle,
#flowerdoodle {
  width: 275px;
  margin: 30px;
  border: 4px solid rgb(94, 28, 28);
}
p#doodles {
  width: 285px;
  text-align: justify;
  padding: 10px;
  margin: auto;
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p#paintings {
  color: blanchedalmond;
  text-align: justify;
  padding: 15px;
  font-size: 1em;
  width: 385px;
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#morty,
#pinetrees,
#sunset {
  margin-top: 15px;
  margin-left: 60px;
  border: 4px solid rgb(94, 28, 28);
}
div.container#paintings1 {
  margin: auto;
}
#paintings1 {
  background-color: rgb(15, 58, 15);
  border: 3px dotted blanchedalmond;
  width: 30%;
  margin-left: 65px;
}
div.container#doodles1 {
  margin-top: -55px;
}
#drawings1 {
  color: blanchedalmond;
  border: 3px dotted blanchedalmond;
  background-color: rgb(15, 58, 15);
  width: 25%;
  float: right;
  transform: translateX(0px);
}
div.container#drawings1 {
  margin-top: -1155px;
}
#nature,
#centipede {
  margin-left: 25px;
  margin-top: 15px;
  border: 4px solid rgb(94, 28, 28);
}
p#drawings {
  margin: auto;
  text-align: justify;
  padding: 15px;
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
div.container#trilogy,
div.container#silent {
  margin: 0 auto;
}
#trilogy {
  background-color: rgb(15, 58, 15);
  border: 3px dotted blanchedalmond;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 35px;
  padding: 10px;
}
#matched {
  float: left;
  margin-left: 8px;
  margin-top: 10px;
  padding-right: 15px;
}
h3#matched1,
h3#zodiac-academy,
h3#silent-patient {
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  color: blanchedalmond;
}
p#matched-trilogy {
  color: blanchedalmond;
  font-size: larger;
  padding: 10px;
  text-align: justify;
  font-family: cursive;
}
#zodiac {
  color: blanchedalmond;
  border: 3px dotted blanchedalmond;
  background-color: rgb(15, 58, 15);
  height: 350px;
  border-radius: 10px;
  text-align: justify;
  padding-right: 10px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 35px;
}
div.container#zodiac {
  width: 85%;
}
#zodiac1 {
  float: right;
  margin-top: 12px;
}
#za {
  font-size: larger;
  margin-right: 60px;
  margin-left: 30px;
  width: 850px;
  font-size: larger;
  font-family: cursive;
}
#silent {
  background-color: rgb(15, 58, 15);
  border: 3px dotted blanchedalmond;
  height: 290px;
  border-radius: 10px;
  margin-top: 30px;
  padding: 12px;
  margin: 35px;
}
#silent1 {
  width: 180px;
  float: left;
  padding-right: 50px;
}
#sp {
  text-align: justify;
  color: blanchedalmond;
  width: 1150px;
  clear: right;
  font-size: larger;
  font-family: cursive;
}
div.container#silent {
  width: 1200px;
}
