/* Set colors for the page */
body {
  background-color: rgb(120, 120, 138);
  color: lightpink; /* this is the font color*/
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* create styles for the h1 tag */

/* Sample - pick your own colors and settings. Make sure to include the ; at the end of the line

h1{
    color: teal;
    font-family: serif;
    font-size: larger;
    text-align: center;
}
*/
h1 {
  color: lightskyblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  text-align: center;
}

/* create styles for the h2 tag */
h2 {
  color: navy;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  text-align: center;
}
/* create styles for the h3 tag */
h3 {
  color: rgb(96, 168, 96);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  text-align: left;
}
/* create styles for the p tag */
p {
  color: rgb(239, 223, 200);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
img {
  width: 25%;
  display: block;
  margin: 10px auto;
  /* this set of 3 commands centers. 10px is spacing top and bottom, auto is left and right*/
}
